node_modules
.pnp
.pnp.js

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage

.turbo

.vercel

.next/
out/
build
dist
bin

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# just a general playground/testing file
test.ts
donera.config.ts
