.container {
  position: relative;
  padding-top: rem(60px);
  padding-bottom: rem(120px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: rem(80px);
    padding-top: rem(80px);
  }
}
