.container {
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.logoLink {
  text-decoration: none;
  color: unset;
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

